---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <span class="post-meta">
            <p class="post-meta-date">{{ post.date | date: "%b %-d, %Y" }}</p>

            <ul class="post-meta-categories">
            {% for category in post.categories %}
              <li>{{ category }}</li>
            {% endfor %}
            </ul>

            <div class="clearfix"></div>
        </span>

        {% if post.banner != "" %}
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><img class="post-banner" src="{{ post.banner }}" alt="{{ post.title }}" /></a>
        {% endif %}

        {% if post.excerpt %}
          {{ post.excerpt }}
        {% endif %}

        <a href="{{ post.url | prepend: site.baseurl }}">read more</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
